.login {
  height: 100vh;

  // background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);

  &__wrapper {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    color: #0039a6;
    font-size: 56px;
  }

  &__form {
    margin-top: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  &__field {
    padding: 16px;
    height: 60px;
    width: 275px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 8px;
    border: 1px solid grey;

    background-color: #fff;

    transition: border-color 0.3s ease-in-out;

    &:hover {
      border-color: black;
    }
  }

  &__input {
    width: 210px;
    outline: none;
    font-size: 14px;

    border-radius: 8px;
    border: none;

    background-color: #fff;

    &:-webkit-autofill {
      -webkit-box-shadow: inset 0 0 0px 9999px white;
    }
  }

  &__icon {
    border: none;
    background-color: transparent;

    display: flex;
    align-items: center;

    cursor: pointer;
  }
}
