.topbar {
  padding: 8px 16px;

  &__wrapper {
    padding: 16px 24px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 8px;

    // background-color: #fff;
  }

  &__title {
    color: #0039a6;
  }

  &__button {
    // width: 125px;
    // height: 48px;

    border: none;
    background-color: transparent;

    cursor: pointer;
  }
}