.sidebar {
  height: 100%;

  flex: 1.6;

  padding: 8px 16px;

  overflow-y: scroll;

  &__wrapper {
    // height: 100%;

    padding: 16px 24px;

    // display: flex;
    // flex-direction: column;

    border-radius: 8px;

    // background-color: #fff;
    background-color: #d9e7ff31;
  }

  &__heading {
    font-weight: 700;
    color: #8DA399;
  }

  &__list {
    list-style: none;
  }

  &__item {
    padding: 8px;

    display: flex;
    align-items: center;
    gap: 8px;

    border-radius: 8px;

    cursor: pointer;

    &:hover {
      background-color: #d9e7ff;
    }
  }
}